*{
	margin: 0px;
	padding: 0px;
}
section{
	display: flex;
	justify-content: center;
}
section.menu{
	width: 80vw;
	height:15vh;
	margin-left: 10vw;
	background-color: #8B9BC9;
	border: 5px inset #122459;
	border-radius: 20px;

}
#logo{
	width: 20%;
	height: 100%;
}
#logo img{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	border-radius: 15px;
}
#botoes{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
}
ul.nav{
	list-style-type: none;
	width: 100%;
	height: 100%;
}
ul.nav li{
	float: left;
	width: 10%;
	background-color: #32AEDC;
	margin-left: 5%;
	margin-top: 4.5%;
	border-radius: 16px;
	border: 2px inset #37404D;
	text-align: center;
}
ul.nav li a{
	font-size: 1rem;
	font-style: italic;
	display: block;
	text-decoration: none;
	color: black;
	font-family: "Copperplate", fantasy;
	text-shadow: -2px -1px 0px white;
}
ul.nav li:hover{
	background-color: cornflowerblue;
}
ul.nav li:hover a{
	color: red;
	text-shadow: -2px -1px 0px black;
}
section.principal{
	width: 80vw;
	height: 70vh;
	margin-left: 10vw;
}
#janela{
	width: 100%;
	height: 100%;
	border: 0px;
}
section.rodape{
	width: 80vw;
	height: 13vh;
	margin-left: 10vw;
	background-color: #8B9BC9;
	border: 5px inset #122459;
	border-radius: 10px;
}
#endereco{
	width: 50%;
	height: 100%;
	text-align: center;
	border-right: 2px solid white;
	padding-top:2%;
}
#endereco p{
	font-size: 2.1vh;
	font-style: italic;
	font-family:"Georgia", serif;
}
#sobre p{
	font-size: 2.1vh;
	font-style: italic;
	font-family:"Georgia", serif;
}
#sobre{
	width: 50%;
	height: 100%;
	margin-top: 2%;
	text-align: center;
}
section.conteudo, form{
	width: 70vw;
	height: auto;
	min-height: 30vh;
	margin-left: 15vw;
	background-color: #EDAA25;
	border: 3px inset #122459;
	border-radius: 16px;
	display: block;
	text-align: center;
	margin-top: 10vh;
}
section.conteudo p{
	color: white;
	font-family:"Georgia", serif;
}
input[type=submit]{
	background-color: seagreen;
	width: 35%;
	padding: 1%;
	border-radius: 16px;
	color: black;
	margin-top: 3%;
}
input[type=submit]:hover{
	text-decoration: underline;
	color: black;
}
section.conteudo h1{
	margin-top: 2%;
	font-size: 2rem;
	text-shadow: -3px -2px -1px white;
}
#links{
	width: 100%;
	margin-top: 3%;
	text-align: center;
}
#links a.link{
	margin-top: 3%;
	font-size: 1.2rem;
	color: black;
	font-family: "Georgia",serif;
	text-decoration: none;
}
#links a.link:hover{
	background-color: #EDAA25;
}